<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Comp1510Lab04FungV/src/ca/bcit/comp1510/lab04/RollingMultiDice.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.bcit.comp1510.lab04.RollingMultiDice"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Comp1510Lab04FungV"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Comp1510Lab04FungV"/>
</launchConfiguration>
